@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;
@layer base {
  html,
  body {
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* TODO: add scrollbar-hide and scrollbar-default classes */
    scrollbar-width: none;
    outline: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

img {
  height: 100%;
}
